langchain
langchain-community
langchain-classic
langchain-openai
langchain-text-splitters
langchain-experimental
langgraph
langchain-mcp-adapters
openai

faiss-cpu
pymupdf
rank-bm25
flashrank

gradio
fastapi
uvicorn[standard]
python-multipart
python-dotenv
pandas
tqdm
networkx
wikipedia
ddgs

langchain-graph-retriever
graph-retriever
graph-rag-example-helpers
